# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore environment config files
.env
*.log

# Ignore database migration files (if needed)
migrations/

# Ignore system files
.DS_Store
